<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Cat-sweet</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/friends" routerLinkActive="active">Friends</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/matching" routerLinkActive="active">matching</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/post-user" routerLinkActive="active">My Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/request-friend" routerLinkActive="active">Friend Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a> 
          </li>
        </ul>
      </div>
    </div>
  </nav>
  